@import 'tailwindcss';

:root {
    --primary: #212529;
    --secondary: #f8f9fa;
    --accent: #c0902c;
}

@theme inline {
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);
}

body {
    color: var(--foreground);
}

.nav-links:hover {
    color: var(--accent);
    transition: color 0.2s ease-in-out;
}

.hover-underline {
    position: relative;
    display: inline-block;
}

.hover-underline::after {
    content: '';
    position: absolute;
    left: 0;
    top: 30;
    width: 0;
    height: 2px; /* Border thickness */
    background: var(--accent);
    transition: width 0.2s ease-in-out;
}

.hover-underline:hover::after {
    width: 100%;
}

.about-section-gradient {
    background: rgb(248, 249, 250);
    background: linear-gradient(0deg, rgba(248, 249, 250, 1) 10%, rgba(248, 249, 250, 0.9) 40%, rgba(248, 249, 250, 0.6) 100%);
}

.default-margin {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

@media (min-width: 1280px) {
    .default-margin {
        width: 1320px;
        margin-left: auto;
        margin-right: auto;
    }
}
