@import 'tailwindcss';

:root {
    --background: #0a0a0a;
    /* --foreground: #171717; */
    --foreground: #e8e8e8;
    --accent: #d4af37;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Inter, sans-serif;
}

.nav-link {
    padding: 0px 16px;
}
